{% extends "cms/base.html.twig" %}

{% block title %}Create Categories{% endblock %}

{% block main_content %}
    <!-- Main content -->
    <section class="content-header">
      <h1>
        Data Tables
        <small>advanced tables</small>
      </h1>
    </section>
        <section class="content">
        <div class="row">
            <!-- left column -->
            <div class="col-md-12">
            <!-- general form elements -->
            <div class="box box-primary">
                <div class="box-header with-border">
                <h3 class="box-title">create Categories</h3>
                </div>
                <!-- /.box-header ===============================================================-->
                <!-- form start -->
                <form id="formSubmited" role="form" method="POST" action="{{ path('createCategories') }}" enctype="multipart/form-data">
                <div class="box-body">
                <div class="form-group">
                    <label for="exampleInputEmail1">Name Category</label>
                    <input name="name" type="text" class="form-control" id="input-name" placeholder="Enter categories">
                    </div>
                    <div class="form-group">
                    <label for="exampleInputPrice1">Note</label>
                    <input name="slug" type="text" class="form-control" id="exampleInputEmail1" placeholder="Enter note">
                    </div>
            
                    <!-- radio new/old -->
                    <div class="form-group">
                        <label for="exampleInputPassword1">new/old Cate</label>
                        <div class="radio">
                            <label><input type="radio" name="priority" id="optionsRadios1" value="1" checked>New</label>
                        </div>
                        <div class="radio">
                            <label><input type="radio" name="priority" id="optionsRadios2" value="0">Old</label>
                        </div>
                    </div>
                    <!-- radio -->
                    <div class="form-group">
                        <label for="exampleInputPassword1">hiden/show</label>
                        <div class="radio">
                            <label><input type="radio" name="status" id="optionsRadios1" value="1" checked>show</label>
                        </div>
                        <div class="radio">
                            <label><input type="radio" name="status" id="optionsRadios2" value="0">Hiden</label>
                        </div>
                    </div>

                    <div class="checkbox">
                    <label>
                        <input type="checkbox"> Check me out
                    </label>
                    </div>
                </div>
                <!-- /.box-body -->

                <div class="box-footer">
                    <button type="submit" class="btn btn-primary">Submit</button>
                </div>
                </form>
            </div>
            <!-- /.box =================================================================-->
            </div>
            <!--/.col (left) -->
            <!-- right column -->
            
        </div>
        <!-- /.row -->
        </section>
        <!-- /.content -->
{% endblock %}